<table class="full">
  <tr>
    <th>White Players</th>
    <th><%= select_with_integer_options("white_goals", 0, 6) %></th>
    <th> : </th>
    <th><%= select_with_integer_options("yellow_goals", 0, 6) %></th>
    <th>Yellow Players</th>
  </tr>
  <%- if @game.new_record? -%>
    <tr>
      <td>
        <%= select_tag("white_player_ids[]",
          player_options = options_for_select(Player.all.collect {|p| [ p.username, p.id ] })) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= select_tag("yellow_player_ids[]", player_options) %>
      </td>
    </tr>

    <tr>
      <td>
        <%= check_box_tag "enable_second_player", "1", false, :id => "enable_second_white_player",
                      :onchange => 'activate_second_player_on_white_team(this)'%> 
        <%= label_tag "enable_second_white_player", "second player" %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= check_box_tag "enable_second_player", "1", false, :id => "enable_second_yellow_player",
                      :onchange => 'activate_second_player_on_yellow_team(this)'%>
        <%= label_tag "enable_second_yellow_player", "second player" %>
      </td>
    </tr>

    <tr>
      <td>
        <%= select_tag("white_player_ids[]", player_options, :disabled => true, :id => "second_white_select" ) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= select_tag("yellow_player_ids[]", player_options, :disabled => true, :id => "second_yellow_select" ) %>
      </td>
    </tr>
  <%- else -%>
    <tr>
      <td><%= show_names_of_players @game.matches.last.yellow_players %></td>
      <td>
        <%- @game.matches.last.yellow_player_ids.each do |player_id| -%>
          <%= hidden_field_tag("white_player_ids[]", player_id) %>
        <%- end -%>
      </td>
      <td></td>
      <td>
        <%- @game.matches.last.white_player_ids.each do |player_id| -%>
          <%= hidden_field_tag("yellow_player_ids[]", player_id) %>
        <%- end -%>
      </td>
      <td><%= show_names_of_players @game.matches.last.white_players %></td>
    </tr>
  <%- end -%>
</table>