<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>Best_of
    <%= radio_button_tag :best_of, 1 %>1
    <%= radio_button_tag :best_of, 3, :checked => true %>3
  </p>
  
  <%= render :partial => "shared/new_match_form" %>

  <p>
    <%= f.submit 'Create' %>
  </p>

  <script language = "javascript">
    function activate_second_player_on_white_team(element){
        element.form.second_white_select.disabled = !element.checked;
    }
    function activate_second_player_on_yellow_team(element){
        element.form.second_yellow_select.disabled = !element.checked;
    }
  </script>
<% end %>