<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    White Players
    <br />
    <%= select_tag("white_player_ids[]", player_options = options_for_select(Player.all.collect {|p| [ p.username, p.id ] })) %>
    <br />
    <%= select_tag("white_player_ids[]", player_options) %>
  </p>
  <p>
    Yellow Players<br/>
    <%= select_tag("yellow_player_ids[]", player_options) %>
    <br />
    <%= select_tag("yellow_player_ids[]", player_options) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>