<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :white_team_id %><br />
    <%= f.select(:white_team_id, Player.all.collect {|p| [ p.username, p.id ] }) %>
  </p>
  <p>
    <%= f.label :yellow_team_id %><br />
    <%= f.select(:yellow_team_id, Player.all.collect {|p| [ p.username, p.id ] }) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>