<h2>Listing games</h2>

<table class="full">
  <tr>
    <th>White player</th>
    <th>Yellow player</th>
    <th>Winner</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.white_player.username %></td>
    <td><%=h game.yellow_player.username %></td>
    <td><%=h((w = game.winner) ? w.username : "Nobody") %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>