<h2>Listing games</h2>

<table class="full">
  <tr>
    <th>ID</th>
    <th>Game Typ (Best of))</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=h game.id %></td>
    <td><%=h game.best_of %></td>
    <td><%=h game.winner() %></td>
    <td><%= link_to 'Show', game_matches_path(game) %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>