<%- if is_iphone_request? -%>
  <!-- <a class="button" href="#searchForm">New game</a> -->
  <!-- <a id="nextButton" class="button" href="#">Old</a> -->
  <h1><%= link_to 'New game', new_game_path, :target => "_self", :class => "button" %></h1>
<%- end -%>
<h2>Listing games</h2>

<table class="full">
  <tr>
    <th>Name</th>
    <th>Best of</th>
    <th>Winner</th>
    <th></th>
    <!-- <th></th> -->
    <!-- <th></th> -->
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to show_names_of_game_players(game.matches.first), game_matches_path(game) %></td>
    <td><%=h game.best_of %></td>
    <td><%=h show_names_of_players(game.winner_players) %></td>
    <!-- <td><%# link_to 'Edit', edit_game_path(game) %></td> -->
    <!-- <td><%# link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New game', new_game_path %>