<%- goals_select_options = options_for_select((0..6).collect{|i| [i.to_s, i.to_s]}) -%>

<% form_for(@game, :html => {:id=>"settings", :title=>"New Game", :class=>"panel", :selected=>"true", :target => "_self"}) do |f| %>
  <%= f.error_messages %>
  <h2>Weiß</h2>
  <fieldset>
    <div class="row">
      <%= f.toggle(:best_of, :on_value => "3", :off_value => "1") %>
    </div>
    <div class="row">
      <label>Spieler</label>
      <%= select_tag("white_player_ids[]",
        player_options = options_for_select(Player.all.collect {|p| [ p.username, p.id ] })) %>
    </div>
    <div class="row">
      <%= label :yellow_goals, "Tore" %>
      <%= select_tag(:white_goals, goals_select_options) %>
    </div>
  </fieldset>
  
  <h2>Gelb</h2>
  <fieldset>
    <div class="row yellow">
      <label>Spieler</label>
      <%= select_tag("yellow_player_ids[]", player_options) %>
    </div>    
    <div class="row yellow">
      <%= label_tag :yellow_goals, "Tore" %>
      <%= select_tag(:yellow_goals, goals_select_options) %>
    </div>
  </fieldset>
  <%= link_to "Save", "#", :type => "submit", :class=>"whiteButton" %>
<%- end -%>

<div class="toolbar">
    <h1 id="pageTitle">Last Matches</h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="#searchForm">Search</a>
</div>

<%# matches_list(@matches) %>
