<p>
  <b>Winner:</b>
  <%= show_names_of_players(@game.winner_players) %>
</p>

<p>
  <b>Matches:</b>
  <%= @game.matches.count %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path, :target => "_self" %> |
<%= link_to 'Game Matches', game_matches_path(@game), :target => "_self" %>
