<h1>Listing Matches statistics</h1>

<table>
  <tr>
    <th>Username (Goals Ratio)</th>
    <th>Name</th>
    <th>All matches</th>
    <th>All won matches</th>
    <th>All lost matches</th>
    <th>Single won matches</th>
    <th>Double won matches</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%=raw link_to_player(player) %></td>
    <td><%=h player.full_name %></td>
    <td><%=h player.matches.size %></td>
    <td><%=h player.all_winning_matches.size %></td>
    <td><%=h player.all_lost_matches.size %></td>
    <td><%=h player.single_winning_matches.size %></td>
    <td><%=h player.double_winning_matches.size %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Listing Games statistics</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>All games</th>
    <th>All won games</th>
    <th>All lost games</th>
    <th>Single won games</th>
    <th>Double won games</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%=h player.username %></td>
    <td><%=h player.full_name %></td>
    <td><%=h player.all_games.size %></td>
    <td><%=h player.all_winning_games.size %></td>
    <td><%=h player.all_lost_games.size %></td>
    <td><%=h player.single_winning_games.size %></td>
    <td><%=h player.double_winning_games.size %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New player', new_player_path %>
<%= link_to 'Back', games_path %>