<h1>Listing matches</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Yellow Team</th>
    <th>White Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.id %></td>
    <td><%= match.yellow_team.usernames %> <%= show_winner(match, :yellow) %></td>
    <td><%= match.white_team.usernames %> <%= show_winner(match, :white) %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New match', new_game_match_path(@game) %>
