<h1>Na, wer hat gewonnen?</h1>

<%= form_for([@game, @match]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', matches_path %>