<%#= link_to "Save", "#", :type => "submit", :class=>"whiteButton" %>
<%- goals_select_options = options_for_select((0..6).collect{|i| [i.to_s, i.to_s]}) -%>

<% form_for([@game, @match]) do |f| %>
  <%= f.error_messages %>

  <span class="graytitle">Weißer Spieler</span>
  <ul class="pageitem">
    <li class="form">
      <%= show_names_of_players @game.matches.last.yellow_players %>
      <%= hidden_field_tag("white_player_ids[]", @game.matches.last.yellow_player_ids)  %>
    </li>
  
    <li class="form">
      <%= select_tag(:white_goals, goals_select_options) %>
      <span class="arrow"></span>
    </li>
  </ul>

  <span class="graytitle yellow">Gelber Spieler</span>
  <ul class="pageitem">
    <li class="form">
      <%= show_names_of_players @game.matches.last.white_players %>
      <%= hidden_field_tag("yellow_player_ids[]", @game.matches.last.white_player_ids)  %>
    </li>
  
    <li class="form">
      <%= select_tag(:yellow_goals, goals_select_options) %>
      <span class="arrow"></span>
    </li>
  </ul>

  <ul class="pageitem">
  	<li class="form">
    <input name="Submit input" type="submit" value="Submit input" class="whiteButton" /></li>
  </ul>
<%- end -%>

