<p>
  <b>White player(s):</b>
  <%=h @match.white_team.usernames %>
</p>

<p>
  <b>Yellow player(s):</b>
  <%=h @match.yellow_team.usernames %>
</p>

<p>
  <b>White goals:</b>
  <%=h @match.white_goals %>
</p>

<p>
  <b>Yellow goals:</b>
  <%=h @match.yellow_goals %>
</p>

<p>
  <b>Goals to win:</b>
  <%=h @match.goals_to_win %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', game_matches_path(@game) %>